In [3]:
#librerias necesarias 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#cargar el excel 
df=pd.read_excel('Datos de Facturación.xlsx')
df

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

In [3]:
#datos que tiene el DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_DOC        10890 non-null  object
 1   CVE_CLPV       10895 non-null  object
 2   STATUS         10886 non-null  object
 3   CVE_VEND       10847 non-null  float64
 4   FECHAELAB      10893 non-null  datetime64[ns]
 5   FECHA_DOC      10894 non-null  datetime64[ns]
 6   FECHA_ENT      10893 non-null  object
 7   FECHA_VEN      10895 non-null  datetime64[ns]
 8   FECHA_CANCELA  358 non-null    datetime64[ns]
 9   CAN_TOT        10889 non-null  float64
 10  DES_TOT        10894 non-null  float64
 11  DES_FIN        10892 non-null  float64
dtypes: datetime64[ns](4), float64(4), object(4)
memory usage: 1021.5+ KB

In [9]:
#CVE_CLPV      (valores: 1000 a 2000)
#filtro y de la variabale CVE_CLPV convertimos con pd.to_numeric a tipo numerico
#errors="coerce" por si no hay numeros poner NA y filtra solo las filas qeu esten entre
#1000 y 2000 ya que habia problemas porque el valor original es de tipo object
df["CVE_CLPV"]=pd.to_numeric(df["CVE_CLPV"], errors="coerce")
filtro1 = df[(df["CVE_CLPV"] >= 1000) & (df["CVE_CLPV"] <= 2000)]
filtro1

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
18,F29432,1965.0,C,2.0,2019-09-05 11:05:04.000,2019-09-05,2019-09-05 00:00:00,2019-09-20,2019-09-06,976.50,0.00,0.0
22,F29436,1965.0,C,2.0,2019-09-06 12:01:36.000,2019-09-06,2019-09-06 00:00:00,2019-09-21,2019-09-12,976.50,0.00,0.0
65,F29479,1240.0,E,2.0,2019-09-11 18:38:45.000,2019-09-11,2019-09-11 00:00:00,2019-09-11,NaT,4135.00,0.00,0.0
71,F29485,1965.0,C,2.0,2019-09-12 12:14:28.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,2019-09-12,976.50,146.48,0.0
72,F29486,1965.0,E,2.0,2019-09-12 12:25:52.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,NaT,976.50,146.48,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10821,F40237,1757.0,E,2.0,2023-02-24 15:18:17.570,2023-02-24,2023-02-13 00:00:00,2023-02-24,NaT,10088.40,0.00,0.0
10839,F40255,1583.0,E,2.0,2023-02-28 09:15:45.753,2023-02-28,2023-02-28 00:00:00,2023-03-30,NaT,3467.35,0.00,0.0
10845,F40261,1786.0,E,2.0,2023-02-28 11:15:32.527,2023-02-28,2023-03-03 00:00:00,2023-02-28,NaT,4663.80,0.00,0.0
10871,F40287,1453.0,E,1.0,2023-03-01 12:58:23.397,2023-03-01,2023-02-27 00:00:00,2023-03-31,NaT,9000.00,0.00,0.0
10876,F40292,1082.0,E,6.0,2023-03-02 11:00:54.770,2023-03-02,2023-03-01 00:00:00,2023-03-02,NaT,3262.00,0.00,0.0

In [10]:
#CVE_VEND     (Todas las claves excepto “5” y “4”)
#filtro not y filtro or para solo extraer los necesario y no 5 y 4 
filtro2=df[~(df["CVE_VEND"] == 5.00 ) | (df["CVE_VEND"] != 4.00)]
filtro2

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465.0,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926.0,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926.0,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926.0,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813.0,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218.0,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

In [18]:
#FECHA_ENT   (Fechas de “28/02/2022”)
#filtro por objeto, convertimos FECHA_ENT en formato de fecha y hora datatime para que
#dayfirst=True asegura que el día se interprete primero para filtrar solo filas 8/02/2022 (sin considerar la hora)
df["FECHA_ENT"] = pd.to_datetime(df["FECHA_ENT"], format="%d/%m/%Y/%H:%M", errors="coerce", dayfirst=True)
filtro3 = df[df["FECHA_ENT"] == pd.to_datetime("28/02/2022")]
filtro3

C:\Users\Usuario-Huawei\AppData\Local\Temp\ipykernel_4648\3149512508.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  filtro3 = df[df["FECHA_ENT"] == pd.to_datetime("28/02/2022")]

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
8077,F37493,4598.0,E,1.0,2022-02-28 10:56:02.460,2022-02-28,2022-02-28,2022-03-30,NaT,44259.0000,0.0,0.0
8078,F37494,1943.0,C,2.0,2022-02-28 11:34:00.367,2022-02-28,2022-02-28,2022-02-28,2022-02-28,89.6800,0.0,0.0
8081,F37497,1943.0,C,2.0,2022-02-28 12:05:42.377,2022-02-28,2022-02-28,2022-02-28,2022-02-28,89.6800,0.0,0.0
8083,F37499,8573.0,E,2.0,2022-02-28 12:25:29.833,2022-02-28,2022-02-28,2022-02-28,NaT,997.5400,0.0,0.0
8084,F37500,8249.0,E,2.0,2022-02-28 12:32:46.687,2022-02-28,2022-02-28,2022-02-28,NaT,2508.7000,0.0,0.0
8090,F37506,1757.0,E,2.0,2022-02-28 13:23:45.440,2022-02-28,2022-02-28,2022-02-28,NaT,2586.2100,0.0,0.0
8091,F37507,3108.0,E,2.0,2022-02-28 13:52:43.383,2022-02-28,2022-02-28,2022-02-28,NaT,675.4000,0.0,0.0
8092,F37508,6232.0,E,2.0,2022-02-28 14:46:56.940,2022-02-28,2022-02-28,2022-02-28,NaT,941.3965,0.0,0.0
8095,F37511,8593.0,E,2.0,2022-02-28 15:20:58.040,2022-02-28,2022-02-28,2022-02-28,NaT,218.9700,0.0,0.0
8096,F37512,4766.0,E,2.0,2022-02-28 15:54:16.277,2022-02-28,2022-02-28,2022-02-28,NaT,9450.0000,0.0,0.0
8100,F37516,6179.0,E,3.0,2022-02-28 16:33:54.413,2022-02-28,2022-02-28,2022-02-28,NaT,5951.7000,0.0,0.0
8103,F37519,5150.0,E,3.0,2022-02-28 17:09:39.213,2022-02-28,2022-02-28,2022-02-28,NaT,2040.0000,0.0,0.0
8104,F37520,4527.0,E,2.0,2022-02-28 17:14:57.487,2022-02-28,2022-02-28,2022-02-28,NaT,4315.0000,0.0,0.0
8107,F37523,5926.0,E,2.0,2022-02-28 17:36:54.363,2022-02-28,2022-02-28,2022-02-28,NaT,451.6100,0.0,0.0
8133,F37549,3016.0,E,1.0,2022-03-04 15:08:49.747,2022-03-04,2022-02-28,2022-03-04,NaT,1083.7200,0.0,0.0
8148,F37564,4695.0,E,1.0,2022-03-08 09:15:20.507,2022-03-08,2022-02-28,2022-05-07,NaT,5515.0000,0.0,0.0
8204,F37620,8316.0,E,3.0,2022-03-14 17:00:43.247,2022-03-14,2022-02-28,2022-03-14,NaT,24570.3000,0.0,0.0

In [26]:
#CAN_TOT       (Cantidades menores a 5951.7)   o  STATUS (“E”)
#filtro o ya que necesitamos extraer datos cantidades menores a 5951.7 o con
#status E algunos de esos dos 
filtro4=df[(df["CAN_TOT"] < 5951.7) | (df["STATUS"] == "E")]
filtro4

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465.0,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926.0,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926.0,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926.0,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813.0,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218.0,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01,2023-03-07,NaT,517.20,0.0,0.0

In [5]:
#Solo las columnas: CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT
#filtro por columnas con indices tomando en cuenta el 0 primero
filtro5=df.iloc[ : , [0,6,7,8]] #Columnas no consecutivas
filtro5

      CVE_DOC            FECHA_ENT  FECHA_VEN FECHA_CANCELA
0      F29414  2019-09-03 00:00:00 2019-09-18    2019-09-04
1      F29415  2019-09-03 00:00:00 2019-10-03    2019-09-03
2      F29416  2019-09-03 00:00:00 2019-10-03    2019-09-03
3      F29417  2019-09-03 00:00:00 2019-10-03    2019-09-17
4      F29418  2019-09-03 00:00:00 2019-09-03    2019-09-10
...       ...                  ...        ...           ...
10890  F40306  2023-03-01 00:00:00 2023-03-06           NaT
10891  F40307  2023-03-06 00:00:00 2023-03-06           NaT
10892     NaN  2023-03-06 00:00:00 2023-03-06           NaT
10893  F40309  2023-03-07 00:00:00 2023-03-07           NaT
10894  F40310  2023-03-01 00:00:00 2023-03-07           NaT

[10895 rows x 4 columns]

In [31]:
#Solo las filas de 7001-7099
#filtro por filas para extraer desde 7001 hasta 7099 
filtro6=df.iloc[7001:7099,:]
filtro6

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7001,F36417,5271.0,E,3.0,2021-10-15 08:40:29.183,2021-10-15,2021-10-06,2021-11-14,NaT,8555.24,0.0,0.0
7002,F36418,5746.0,E,2.0,2021-10-15 08:51:03.463,2021-10-15,2021-10-14,2021-10-15,NaT,620.77,0.0,0.0
7003,F36419,2163.0,E,3.0,2021-10-15 08:56:23.280,2021-10-15,2021-10-15,2021-10-15,NaT,560.00,0.0,0.0
7004,F36420,1429.0,E,1.0,2021-10-15 09:01:08.393,2021-10-15,2021-10-15,2021-12-14,NaT,23625.00,0.0,0.0
7005,F36421,5039.0,E,1.0,2021-10-15 09:07:07.103,2021-10-15,2021-10-08,2022-01-13,NaT,3308.78,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7094,F36510,4480.0,E,2.0,2021-10-27 13:01:57.527,2021-10-27,2021-10-21,2021-11-11,NaT,2904.40,0.0,0.0
7095,F36511,4480.0,E,2.0,2021-10-27 13:07:43.223,2021-10-27,2021-10-27,2021-11-11,NaT,1137.50,0.0,0.0
7096,F36512,8186.0,E,2.0,2021-10-27 13:22:23.980,2021-10-27,2021-10-27,2021-10-27,NaT,94.84,0.0,0.0
7097,F36513,4403.0,E,2.0,2021-10-27 13:35:40.677,2021-10-27,2021-10-27,2021-10-27,NaT,847.00,0.0,0.0
7098,F36514,5589.0,E,2.0,2021-10-27 14:02:54.630,2021-10-27,2021-10-27,2021-10-27,NaT,965.00,0.0,0.0

In [ ]:
#Index= CVE_VEND (valores: 1, 2)  (columna: FECHAELAB)
#cargamos el archivo y especificamos que la columna número 3 (la cuarta columna, ya que la numeración 
#empieza desde 0) debe usarse como índice del DataFrame
df1=pd.read_excel('Datos de Facturación.xlsx', index_col=3)
df1

,CVE_DOC,CVE_CLPV,STATUS,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
CVE_VEND,,,,,,,,,,,
1.0,F29414,2465,C,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1.0,F29415,3926,C,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
1.0,F29416,3926,C,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
1.0,F29417,3926,C,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
2.0,F29418,6813,C,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2.0,F40306,8842,E,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
2.0,F40307,6218,NaN,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
2.0,NaN,5926,E,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
2.0,F40309,361,E,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
2.0,F40310,3011,E,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

In [19]:
#Index= CVE_VEND (valores: 1, 2)  (columna: FECHAELAB)
#filtro filas vs columnas en donde los valores de CVE_VEND deben ser 1 y 2
#y la columna de FECHAELAB
filtro7=df1.loc[[1.0, 2.0], ["FECHAELAB"]]
filtro7

                       FECHAELAB
CVE_VEND
1.0      2019-09-03 08:58:42.000
1.0      2019-09-03 09:55:14.000
1.0      2019-09-03 13:25:33.000
1.0      2019-09-03 13:33:23.000
1.0      2019-09-04 09:15:12.000
...                          ...
2.0      2023-03-06 16:09:39.013
2.0      2023-03-06 16:38:42.933
2.0      2023-03-06 17:02:33.390
2.0      2023-03-07 12:43:49.567
2.0      2023-03-07 12:45:58.407

[8665 rows x 1 columns]

ARCHIVOS DE CADA FILTRO

In [33]:
filtro1.to_csv('filtro1_y.csv')
filtro2.to_csv('filtro2_not_or.csv')
filtro3.to_csv('filtro3_objeto.csv')
filtro4.to_csv('filtro4_or.csv')
filtro5.to_csv('filtro5_columnas.csv')
filtro6.to_csv('filtro6_filas.csv')
filtro7.to_csv('filtro7_filas_columnas.csv')